# Rust
/target/
**/*.rs.bk
*.pdb
*.dll

# Frontend
frontend/node_modules/*
frontend/dist/*
frontend/.angular/*
frontend/package-lock.json
frontend/yarn.lock
frontend/.cache/*
frontend/cache/*

# IDE
.vscode/
.idea/
*.swp
*.swo
*.vsix

# OS
.DS_Store
Thumbs.db
desktop.ini

# Build artifacts
static/*
!static/.gitkeep

.tmp_check/*
geoserver.sqlite
