<h2 mat-dialog-title>{{ title() }}</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="data-source-form">
    <div class="form-row">
      <mat-form-field class="form-field">
        <mat-label>{{ 'dataSources.nameLabel' | translate }}</mat-label>
        <input
          matInput
          formControlName="name"
          placeholder="{{ 'dataSources.namePlaceholder' | translate }}"
        />
        <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
          {{ 'dataSources.nameRequired' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>{{ 'dataSources.typeLabel' | translate }}</mat-label>
        <mat-select formControlName="type">
          <mat-option
            *ngFor="let type of dataSourceTypes(); trackBy: trackByIndex"
            [value]="type.value"
          >
            {{ type.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field class="form-field">
      <mat-label>{{ 'dataSources.workspaceLabel' | translate }}</mat-label>
      <mat-select formControlName="workspace">
        <mat-option value="" disabled>{{
          'dataSources.workspacePlaceholder' | translate
        }}</mat-option>
        <mat-option *ngFor="let ws of workspaces(); trackBy: trackByIndex" [value]="ws.name">
          {{ ws.title || ws.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('workspace')?.invalid && form.get('workspace')?.touched">
        {{ 'dataSources.workspaceRequired' | translate }}
      </mat-error>
    </mat-form-field>

    <ng-container
      *ngIf="
        selectedType === 'postgis' ||
        selectedType === 'mysql' ||
        selectedType === 'mongo' ||
        selectedType === 'redis'
      "
    >
      <mat-divider></mat-divider>

      <h3 class="section-title">
        {{
          (selectedType === 'redis'
            ? 'dataSources.redisSection'
            : selectedType === 'mysql'
              ? 'dataSources.mysqlSection'
              : selectedType === 'mongo'
                ? 'dataSources.mongoSection'
                : 'dataSources.postgisSection'
          ) | translate
        }}
      </h3>

      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>{{ 'dataSources.host' | translate }}</mat-label>
          <input
            matInput
            formControlName="host"
            placeholder="{{ 'dataSources.hostPlaceholder' | translate }}"
          />
          <mat-hint
            *ngIf="
              selectedType === 'postgis' ||
              selectedType === 'mysql' ||
              selectedType === 'mongo'
            "
          >
            {{ 'dataSources.hostClusterHint' | translate }}
          </mat-hint>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>{{ 'dataSources.port' | translate }}</mat-label>
          <input
            matInput
            formControlName="port"
            type="number"
            placeholder="{{ 'dataSources.portPlaceholder' | translate }}"
          />
          <mat-hint *ngIf="selectedType === 'mongo'">
            {{ 'dataSources.mongoMultiPortHint' | translate }}
          </mat-hint>
        </mat-form-field>
      </div>

      <!-- MongoDB cluster connection: replica-set name -->
      <div class="form-row" *ngIf="selectedType === 'mongo'">
        <mat-form-field class="form-field">
          <mat-label>{{ 'dataSources.replicaSet' | translate }}</mat-label>
          <input
            matInput
            formControlName="replica_set"
            placeholder="{{ 'dataSources.replicaSetPlaceholder' | translate }}"
          />
          <mat-hint>{{ 'dataSources.replicaSetHint' | translate }}</mat-hint>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>{{ 'dataSources.database' | translate }}</mat-label>
          <input
            matInput
            formControlName="database"
            placeholder="{{ 'dataSources.databasePlaceholder' | translate }}"
          />
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>{{ 'dataSources.schema' | translate }}</mat-label>
          <input
            matInput
            formControlName="schema"
            placeholder="{{ 'dataSources.schemaPlaceholder' | translate }}"
          />
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>{{ 'dataSources.username' | translate }}</mat-label>
          <input
            matInput
            formControlName="username"
            placeholder="{{ 'dataSources.usernamePlaceholder' | translate }}"
          />
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>{{ 'dataSources.password' | translate }}</mat-label>
          <input
            matInput
            formControlName="password"
            type="password"
            placeholder="{{ 'dataSources.passwordPlaceholder' | translate }}"
          />
        </mat-form-field>
      </div>
    </ng-container>

    <!-- File-based data source config -->
    <ng-container
      *ngIf="
        selectedType !== 'postgis' &&
        selectedType !== 'mysql' &&
        selectedType !== 'mongo' &&
        selectedType !== 'redis'
      "
    >
      <mat-divider></mat-divider>

      <h3 class="section-title">{{ 'dataSources.fileSection' | translate }}</h3>

      <!-- Storage type dropdown (placed first in the file config) -->
      <mat-form-field class="form-field">
        <mat-label>{{ 'dataSources.storageType' | translate }}</mat-label>
        <mat-select formControlName="file_storage_type">
          <mat-option
            *ngFor="let st of fileStorageTypes()"
            [value]="st.value"
            [matTooltip]="st.description"
            matTooltipPosition="right"
          >
            {{ st.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Embedded (uses the server's local directory) -->
      <ng-container *ngIf="!isS3">
        <div class="form-row browse-row">
          <mat-form-field class="form-field flex-field">
            <mat-label>{{ 'dataSources.filePath' | translate }}</mat-label>
            <input
              matInput
              formControlName="file_path"
              placeholder="{{ 'dataSources.filePathPlaceholder' | translate }}"
              readonly
              (click)="browseLocal()"
            />
          </mat-form-field>
          <button
            type="button"
            mat-icon-button
            matTooltip="{{ 'dataSources.browseServerDir' | translate }}"
            [attr.aria-label]="'dataSources.browseServerDirAria' | translate"
            (click)="browseLocal()"
          >
            <mat-icon>folder_open</mat-icon>
          </button>
        </div>

        <div
          class="form-row file-upload-row"
          *ngIf="mode === 'create' && selectedType !== 'geojson'"
        >
          <input
            #fileInput
            type="file"
            (change)="onFileSelected($event)"
            accept=".zip,.tif,.tiff"
            class="file-input"
          />
          <button type="button" mat-raised-button color="accent" (click)="fileInput.click()">
            <mat-icon>upload_file</mat-icon> {{ 'dataSources.selectFile' | translate }}
          </button>
          <span class="file-name">{{
            selectedFile ? selectedFile.name : ('dataSources.noFileSelected' | translate)
          }}</span>
        </div>
      </ng-container>

      <!-- S3 (uses the object storage directory) -->
      <ng-container *ngIf="isS3">
        <div class="form-row">
          <mat-form-field class="form-field">
            <mat-label>{{ 'dataSources.s3Endpoint' | translate }}</mat-label>
            <input
              matInput
              formControlName="s3_endpoint"
              placeholder="{{ 'dataSources.s3EndpointPlaceholder' | translate }}"
            />
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>{{ 'dataSources.s3Region' | translate }}</mat-label>
            <input
              matInput
              formControlName="s3_region"
              placeholder="{{ 'dataSources.s3RegionPlaceholder' | translate }}"
            />
          </mat-form-field>
        </div>

        <mat-form-field class="form-field">
          <mat-label>{{ 'dataSources.s3Bucket' | translate }}</mat-label>
          <input
            matInput
            formControlName="s3_bucket"
            placeholder="{{ 'dataSources.s3BucketPlaceholder' | translate }}"
            required
          />
          <mat-error *ngIf="isS3 && !form.get('s3_bucket')?.value">
            {{ 'dataSources.s3BucketRequired' | translate }}
          </mat-error>
        </mat-form-field>

        <div class="form-row">
          <mat-form-field class="form-field">
            <mat-label>{{ 'dataSources.s3AccessKey' | translate }}</mat-label>
            <input
              matInput
              formControlName="s3_access_key"
              placeholder="{{ 'dataSources.s3AccessKeyPlaceholder' | translate }}"
            />
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>{{ 'dataSources.s3SecretKey' | translate }}</mat-label>
            <input
              matInput
              formControlName="s3_secret_key"
              type="password"
              placeholder="{{ 'dataSources.s3SecretKeyPlaceholder' | translate }}"
            />
          </mat-form-field>
        </div>

        <div class="form-row browse-row">
          <mat-form-field class="form-field flex-field">
            <mat-label>{{ 'dataSources.selectedObject' | translate }}</mat-label>
            <input
              matInput
              formControlName="file_path"
              placeholder="{{ 'dataSources.selectedObjectPlaceholder' | translate }}"
              readonly
              (click)="browseS3()"
            />
          </mat-form-field>
          <button
            type="button"
            mat-icon-button
            matTooltip="{{ 'dataSources.browseS3Dir' | translate }}"
            [attr.aria-label]="'dataSources.browseS3DirAria' | translate"
            (click)="browseS3()"
          >
            <mat-icon>folder_open</mat-icon>
          </button>
        </div>
      </ng-container>

      <div class="form-row">
        <mat-slide-toggle formControlName="enabled">
          {{ 'dataSources.enableDataSource' | translate }}
        </mat-slide-toggle>
      </div>
    </ng-container>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-button
    (click)="testConnection()"
    [disabled]="
      isTesting ||
      (selectedType !== 'postgis' &&
        selectedType !== 'mysql' &&
        selectedType !== 'mongo' &&
        selectedType !== 'redis' &&
        selectedType !== 'image_mosaic' &&
        selectedType !== 'image_pyramid')
    "
  >
    <mat-icon>{{ isTesting ? 'hourglass_empty' : 'network_check' }}</mat-icon>
    {{ isTesting ? ('dataSources.testing' | translate) : ('common.testConnection' | translate) }}
  </button>
  <button mat-stroked-button (click)="onCancel()">{{ 'common.cancel' | translate }}</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    {{ mode === 'create' ? ('dataSources.create' | translate) : ('common.update' | translate) }}
  </button>
</mat-dialog-actions>
